.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.NavBar-header {
  background-color: #282c34;
  position: fixed; /* These three lines are required to fix the bar to the top when scrolling */
  top: 0; /* These three lines are required to fix the bar to the top when scrolling */
  width: 100%; /* These three lines are required to fix the bar to the top when scrolling */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Main content */
.main {
  margin-top: 20vh; /* Add a bottom margin to avoid content overlay */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
